.footer-container {
	position: fixed;
	bottom: 0;
  width: 100%;
  padding: 1rem;
  z-index: 1;
  background:#d9d1ba;
}

@media screen and (min-width: 1024px) {

	.button-container-left{
		 margin-left: 25%;
		 display: inline-block;
 		 width: 25%;
	}

	.button-container{
		margin: 0 auto;
		width: 50%;
	}

	.button-container-right{
		 display: inline-block;
 		 width: 25%;
	}

}

@media screen and (max-width: 1024px) and (min-width: 420px) {

	.button-container-left{
		 margin-left: 25%;
		 display: inline-block;
 		 width: 25%;
	}

	.button-container{
		margin: 0 auto;
		width: 60%;
	}

	.button-container-right{
		 display: inline-block;
 		 width: 25%;
	}

}

@media screen and (max-width: 420px){

	.button-container-left{
		 margin-left: 25%;
		 display: inline-block;
 		 width: 25%;
	}

	.button-container{
		margin: 0 auto;
		width: 90%;
	}

	.button-container-right{
		 display: inline-block;
 		 width: 25%;
	}

}
