/*design for 1024 */

.form-header{
	background-color: #f7f3e8;
}

@media screen and (min-width: 1024px) {
	.story-container {
		margin-top: 120px;
    margin-right: 40px;
		margin-left: 40px;
	}
}

/*design for 420 */
@media screen and (max-width: 1024px) and (min-width: 420px) {
	.story-container {
		margin: 0 auto;
		margin-top: 120px;
		display: inline-block;
		width: 80%;
		margin-left: 10%;
	}
}

@media screen and (max-width: 420px){
	.story-container {
		margin: 0 auto;
		margin-top: 120px;
		display: inline-block;
		width: 80%;
		margin-left: 10%;
	}
}
