h2 {
	text-align: center;
}

.dashboard-container {
	margin: 20vh 20vw 20vh 15vw;
	display: inline-block;
	width: 50vw;
  background-attachment: fixed;
  background-position: center;
}

.list-group-item {
  /* margin: 20vh 20vw 20vh 10vw; */
  /* background-color: black; */
  width: 800px;
  height: 200px;
  box-shadow:0 0 40px -10px #000;
}

.list-group-item:hover {
  box-shadow:0 0 90px -10px #000;
}

.left-container .right-container {
  display: inline-block;
  /* width: 49% */
}

.left-container {
  width: 40%;
  height: 80%;
  float: left;
  /* background-color: green; */
}

.right-container {
  background-color: #e2edff;
  width: 60%;
  height: 80%;
  float: right;
  color: black;
}

.right-container > p {
  padding-left: 20px;
}

#story-description {
  background-color: #c2d8fc;
  width: 100%;
  height: 100%;
  /* float: left; */
  color: black;
}

#story-description > p {
  padding: 0px 150px 0px 150px;
}

/*design for 1024 */
@media screen and (min-width: 1024px) {

}

/*design for 420 */
@media screen and (max-width: 1024px) and (min-width: 420px) {

}

@media screen and (max-width: 400px){

}
