@media screen and (min-width: 1024px) {

	.dropdown {
		float: right;
		padding: 10px;
	}

	.dropdown > button {
		float: right;
	}

}

@media screen and (max-width: 1024px) and (min-width: 420px) {

	.dropdown {
		float: right;
		padding: 10px;
	}

	.dropdown > button {
		float: right;
	}

}

@media screen and (max-width: 420px){

	.dropdown {
		float: right;
		padding: 10px;
	}

	.dropdown > button {
		float: right;
	}

}
