.nav-container {
	z-index: ;
	text-align: center;
	font-size: 25px;
	width: 380px;
	background-color: black;
	float: right;
	padding: 15px;
	margin: 5px;
	height: 50vh;
  position: absolute;
	right: 0px;
	top: 20px;
	-webkit-transition: color 2s; /* Safari */
	transition: color 2s;
}
ul {
	padding: 0;
	margin: 0;
  list-style-type: none;
}

li {
	width: 100%;
	padding: 10px 0 10px 0;
}

li:hover {
    background-color: white;
}

a:visited {
    text-decoration: none;
}
