.nav-container {
	z-index: ;
	padding: 0;
	margin-top: 0;
	text-align: center;
	font-size: 25px;
	width: 200px;
	background-color: #fff;
	float: right;
	padding: 15px;
	margin: 5px;
	height: 60vh;
  position: absolute;
	right: 0px;
	top: 30px;
	-webkit-transition: color 2s; /* Safari */
	transition: color 2s;
  border: 2px solid #fff;
  border-radius: 3px;
}
ul {
  list-style-type: none;
}

li {
	width: 100%;
	padding: 10px 0 10px 0;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}a:visited {
    text-decoration: none;
}
