/** {
  box-sizing: border-box;
}
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  /* min-height: 100%; */
  /* min-height: 100vh; */
}

body {
/*  margin: 0;
  padding: 0;
  font-family: sans-serif;*/
  font: 16px 'Roboto', Helvetica, sans-serif;
  /* display: flex; */
  flex-direction: column;
  margin: 0;
  background: #f6f6f6;
  background-image: url("../src/imgs/cartographer_map.jpg");
  background-attachment: fixed;
  background-position: center;
}

h1, h2{
  font-family: 'Galada', cursive;
  color: #000;
}

a {
  text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*design for 1024 */
@media screen and (min-width: 1024px) {

  h2 {
		text-align: center;
	}
	.description-container {
    margin: 0 auto;
		margin-top: 120px;
		display: inline-block;
		width: 80%;
		margin-left: 8%;
	}

	.list-group-item {
	  height: 400px;
	  box-shadow:0 0 40px -10px #000;
	}

	.list-group-item:hover {
	  box-shadow:0 0 90px -10px #000;
	}

	.left-container .right-container {
	  /* display: inline-block; */
	  /* width: 49% */
	}

	.left-container {
	  width: 100%;
	  height: 40%;
	  float: left;
	}

	.right-container {
	  background-color: #d9d1ba;
	  width: 100%;
	  height: 40%;
	  float: right;
	  /* color: black; */
	}

	.right-container > p {
	  padding-left: 20px;
	}

	#story-description {
	  background-color: #d9d1ba;
	  /* width: 700px; */
	  height: 100%;
	  color: black;
    padding-left: 10%;
    margin-bottom: 15px;
	}

	#story-description > p {
	  padding: 0px 150px 0px 150px;
	}


  .btn {
  	border: none;
  	color: inherit;
  	background: none;
  	cursor: pointer;
  	margin: 0px 20px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 700;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  .btn:after {
  	content: '';
  	position: absolute;
  	z-index: -1;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  /* Pseudo elements for icons */
  .btn:before,
  .icon-heart:after,
  .icon-star:after,
  .icon-plus:after,
  .icon-file:before {
  	font-family: 'icomoon';
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	position: relative;
  	-webkit-font-smoothing: antialiased;
  }

  /* Button 4 */
  .btn-4 {
  	/* border-radius: 50px; */
  	border: 3px solid #fff;
  	color: #fff;
  	overflow: hidden;
  }

  .btn-4:active {
  	border-color: #17954c;
  	color: #17954c;
  }

  .btn-4:hover {
  	background: #6cf;
  }

  .btn-4:before {
  	position: absolute;
    width: 25%;
  	height: 100%;
  	font-size: 125%;
  	line-height: 3.5;
  	color: #fff;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  .btn-4:active:before {
  	color: #17954c;
  }

  /* Button 4a */
  .btn-4a:before {
  	left: 130%;
  	top: 0;
  }

  .btn-4a:hover:before {
    /* content: '\8593'; */
  	left: 80%;
  }

  .icon-arrow-right:before {

  }

}

/*design for 420 */
@media screen and (max-width: 1024px) and (min-width: 420px) {
	h2 {
		text-align: center;
	}
	.description-container {
    margin: 0 auto;
		margin-top: 120px;
		display: inline-block;
		width: 80%;
		margin-left: 8%;
	}

	.list-group-item {
	  height: 400px;
	  box-shadow:0 0 40px -10px #000;
	}

	.list-group-item:hover {
	  box-shadow:0 0 90px -10px #000;
	}

	.left-container .right-container {
	  display: inline-block;
	  /* width: 49% */
	}

	.left-container {
	  width: 100%;
	  height: 40%;
	  float: left;
	}

	.right-container {
	  background-color: #d9d1ba;
	  width: 100%;
	  height: 40%;
	  float: right;
	  /* color: black; */
	}

	.right-container > p {
	  padding-left: 20px;
	}

	#story-description {
	  background-color: #d9d1ba;
	  width: 100%;
	  height: 100%;
	  color: black;
    padding-left: 10%;
	}

	#story-description > p {
	  padding: 0px 150px 0px 150px;
	}

  .btn {
  	border: none;
  	color: inherit;
  	background: none;
  	cursor: pointer;
  	margin: 0px 2px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 700;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  .btn:after {
  	content: '';
  	position: absolute;
  	z-index: -1;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  /* Pseudo elements for icons */
  .btn:before,
  .icon-heart:after,
  .icon-star:after,
  .icon-plus:after,
  .icon-file:before {
  	font-family: 'icomoon';
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	position: relative;
  	-webkit-font-smoothing: antialiased;
  }

  /* Button 4 */
  .btn-4 {
  	/* border-radius: 50px; */
  	border: 3px solid #fff;
  	color: #fff;
  	overflow: hidden;
  }

  .btn-4:active {
  	border-color: #17954c;
  	color: #17954c;
  }

  .btn-4:hover {
  	background: #6cf;
  }

  .btn-4:before {
  	position: absolute;
    width: 25%;
  	height: 100%;
  	font-size: 125%;
  	line-height: 3.5;
  	color: #fff;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  .btn-4:active:before {
  	color: #17954c;
  }

  /* Button 4a */
  .btn-4a:before {
  	left: 130%;
  	top: 0;
  }

  .btn-4a:hover:before {
    /* content: '\8593'; */
  	left: 80%;
  }

  .icon-arrow-right:before {

  }

}

@media screen and (max-width: 420px){
	h2 {
		text-align: center;
	}
	.description-container {
    margin: 0 auto;
		margin-top: 120px;
    margin-left: -20px;
    /* margin-right: 0; */
    width: 100%;
		display: inline-block;
	}

  /* .dashboard-container {
		margin: 20vh 0vw 20vh 0vw;
    display: inline-block;
  } */

	.list-group-item {
	  height: 600px;
	  box-shadow:0 0 40px -10px #000;
    /* margin-left: -20px; */
	}

	.list-group-item:hover {
	  box-shadow:0 0 90px -10px #000;
	}

	.left-container .right-container {
	  display: inline-block;
	}

	.left-container {
	  width: 100%;
	  height: 40%;
	  float: left;
	}

	.right-container {
	  background-color: #d9d1ba;
	  width: 100%;
	  height: 40%;
	  float: right;
	  /* color: black; */
	}

	.right-container > p {
	  padding-left: 20px;
	}

	#story-description {
	  background-color: #d9d1ba;
    /* width: 390px; */
	  height: 100%;
	  color: black;
    /* padding-left: 8%; */
	}

	#story-description > p {
	  padding: 0px 40px 0px 40px;
	}

  .btn {
  	border: none;
  	color: inherit;
  	background: none;
  	cursor: pointer;
  	margin: 0px 2px;
  	text-transform: uppercase;
  	letter-spacing: 1px;
  	font-weight: 700;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  .btn:after {
  	content: '';
  	position: absolute;
  	z-index: -1;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  /* Pseudo elements for icons */
  .btn:before,
  .icon-heart:after,
  .icon-star:after,
  .icon-plus:after,
  .icon-file:before {
  	font-family: 'icomoon';
  	speak: none;
  	font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
  	position: relative;
  	-webkit-font-smoothing: antialiased;
  }

  /* Button 4 */
  .btn-4 {
  	/* border-radius: 50px; */
  	border: 3px solid #fff;
  	color: #fff;
  	overflow: hidden;
  }

  .btn-4:active {
  	border-color: #17954c;
  	color: #17954c;
  }

  .btn-4:hover {
  	background: #6cf;
  }

  .btn-4:before {
  	position: absolute;
    width: 25%;
  	height: 100%;
  	font-size: 125%;
  	line-height: 3.5;
  	color: #fff;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	transition: all 0.3s;
  }

  .btn-4:active:before {
  	color: #17954c;
  }

  /* Button 4a */
  .btn-4a:before {
  	left: 130%;
  	top: 0;
  }

  .btn-4a:hover:before {
    /* content: '\8593'; */
  	left: 80%;
  }

  .icon-arrow-right:before {

  }

}
